body{
    margin: 0;
    font-family: Verdana;
    background-color: #F1F5F4
}
header{
    background-image: url("logo.svg");
    background-size: 6em;
    background-repeat: no-repeat;
    padding: 2.5em 0em 2.5em 10em;
    background-color: #B0A7C0;
}
nav a{
    color: #51279B;
    text-decoration: none;
    padding-right: 2em;
}
nav a:hover{
    color: #8662C7;
}
article img{
    width: 100%;
    height: 700px;
    margin-bottom: 0.5em;
}
article p{
    text-align: center;
    font-size: 20px;
    height: 200px;
    padding-right: 50%;
    padding-left: 4%;
    margin: 0;
    background-color: #BBE2DC;
    padding-top: 10em;
    
}
article p:last-child{
    padding-top: 0em;
    padding-bottom: 2.3em;
    margin-bottom: 0.5em;
}
.likes{
    background-image: url("heart.png");
    background-repeat: no-repeat;
    float: left;
    padding: 0.5em 0 0 2.5em;
    margin: 1em;
    height: 30px;
}
.comments{
    background-image: url("comment.svg");
    background-repeat: no-repeat;
    float: left;
    padding: 0.5em 0 0 2.5em;
    margin: 1em;
    height:30px;
}
#map{
    float: right;
    padding: 3em;
    background-color: #DA9797;
    width: 550px;
    height: 550px;
}
footer{
    background-color: #51279B;
    color: white;
    padding: 1em;
}
footer a{
    text-decoration: none;
    color: white;
}
